<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详细信息</title>
</head>
<body>
    
<script id="tmpl" type="text/template">
<div>编号：{{id}}</div>
<div>姓名：{{name}}</div>
<div>年龄：{{age}}</div>
<div>加入时间：{{ctime}}</div>
<div>性别：{{gender}}</div>
</script>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/axios/dist/axios.js"></script>
    <script src="../../node_modules/art-template/lib/template-web.js"></script>
    <script src="../assets/js/info.js"></script>
</body>
</html>